@font-face {
    font-family: 'exo_2.0extra_light';
    src: url('exo2.0-extralight-webfont.eot');
    src: url('exo2.0-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-extralight-webfont.woff') format('woff'),
         url('exo2.0-extralight-webfont.ttf') format('truetype'),
         url('exo2.0-extralight-webfont.svg#exo_2.0extra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: black;
  font-family: 'exo_2.0extra_light';
  font-size: 1.5em;
}

.row {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-header h3 {
  color: white;
  float: left;
  margin: 0;
  padding-top: 10px;  
}

.menu-items {
  float: right;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}


a:hover, .social-links ul li a:hover {
  background-color: #0174DF;
  color: white;
}

a {
  color: #0174DF;
  text-decoration: none;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.picture-band {  
  color: white; 
  height: 500px;  
  background-position: center; 
  text-shadow: 0 0px 8px rgba(0,0,0,1);
}

.picture-band-stars {
  background-image: url('images/09_spiral_galaxy_1920.jpg');
}

.picture-band-learning {
  margin-top: 60px;
  background-image: url('images/10_coderetreat_1920.jpg');  
}

.picture-band-speed {
  margin-top: 60px;
  background-image: url('images/11_speed_sonic_boom_1920.jpg');
}

.picture-band-launch {
  margin-top: 60px;
  background-image: url('images/01_launch_1920.jpg');
}

.picture-band h1 {  
  font-size: 4.0em;
  font-weight: bold;
}

.picture-band p {  
  font-size: 1.8em;
  text-shadow: 0 1px 1px rgba(0,0,0,1.0);
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
  box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}

.picture-band-footer {
  margin-bottom: 0;
  margin-top: 100px;
  background-color: black;
  color: white;
}


.ctas {
  padding: 20px;
}

.ctas .btn {
  margin-right: 20px;
  padding: 12px;
  font-size: 0.9em;
  font-weight: bold;
}

.references h2 {
  font-size: 0.9em;
  font-weight: bold;
}

.row {
  margin-top: 20px;
}

.last-row {
  margin-bottom: 100px;
}

h1 {
  text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
  color: #FF4000;
  font-size: 3.5em;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
}

blockquote {
  font-style: italic;
}

@media (max-width: 768px) {
  .jumbotron {
    height: 600px;
  }

  .navbar-header {
    float: left;
    padding-left: 10px;
  }
}